.s3upload {

}

.s3upload .upload-placeholder {
	display: none;
}
.s3upload.upload-empty .upload-placeholder {
	display: block;
	position: absolute;
	width: 100%;
	top: 35px;
	color: #aaa;
	text-align: center;
}


.s3upload .upload-dropzone {
	border: 2px solid #ebebeb;
	border-bottom: none;
	min-height: 65px;
	padding: 10px 10px 5px 10px;
}

.s3upload.upload-empty .upload-dropzone {
	border: 2px dashed #ddd;
	border-bottom: none;
}


.s3upload .upload-toolbar {
	margin-top: 5px;
}

.s3upload .upload-item {
	display: table;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: break-all;
	margin-bottom: 5px;
}

.s3upload .upload-item-row {
	display: table-row;
}


.s3upload .upload-item-container {
	display: table-cell;
	width: 85px;
	height: 56px;
	vertical-align: middle;
	text-align: center;
	padding-right: 10px;
}

.s3upload .upload-item-image {
	width: 75px;
}
.s3upload .upload-item-nonimage {
	display: none;
	width: 75px;
	height: 48px;
	line-height: 48px;
	background: #f1f1f1;
	text-align: center;
	color: #666;
	font-size: 1.9em;
}


.s3upload .upload-item-container img {
	display: block;
	max-width: 75px;
	max-height: 75px;
	height: auto;
	margin: auto;
}
.s3upload .upload-item-progress-bar {
	max-width: 75px;
	width: 0;
	height: 4px;
	line-height: 4px;
	background: #999;
}
.s3upload .upload-item-uploading .upload-item-progress-bar {
}
.s3upload .upload-item-complete .upload-item-progress-bar {
	width: 0 !important;
	background: #5cb85c;
}
.s3upload .upload-item-error .upload-item-progress-bar {
	width: 75px !important;
	background: #d2322d;
}


.s3upload .upload-item-info {
	display: table-cell;
	vertical-align: middle;

}
.s3upload .upload-item-file {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;

}

.s3upload .upload-item-state {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 6em;
	word-wrap: none;
	word-break: none;
}
.s3upload .upload-item-status {
	display: inline-block;
	padding: 2px 4px;
	background: #999;
	color: #fff;
	border-radius: 2px;

}

.s3upload .upload-item-uploading .upload-item-status {
	background: #999;
}
.s3upload .upload-item-complete .upload-item-status {
	background: #5cb85c;
}
.s3upload .upload-item-error .upload-item-status {
	background: #d2322d;
}


.s3upload .upload-item-buttons {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 36px;
}
.s3upload .upload-item-buttons button {
	border: none;
	background: none;
	font-size: 170%;
	font-weight: bold;
	color: #999;
}
.s3upload .upload-item-buttons button:hover {
	color: #000;
	cursor: pointer;

}
